.topLogo{
  margin-top: 10rpx;
  margin-left: 10rpx;
  height: 300rpx;
  width: 300rpx;
  opacity: 0.8;
}

@media screen and (min-height: 800px){
  .topLogo{
    margin-top: 40rpx;
    margin-left: 20rpx;
  }
}

.right-item {
  height: 6vw;
  width: 6vw;
}

.scroll-item{
  width: 100vw;
}
.like-list {
  .item {
    background: rgba(53, 80, 80, 0.6);
    padding: 10rpx;
    height: 35vw;
    width: 40vw; 
    border-radius: 10rpx;
    .img {
      border: 1rpx solid darkcyan;
      background: rgba(202, 226, 226, 0.6);
      width: 40vw;
      height: 25.14vw;
      padding: 1px;
      border-radius: 10rpx;
    }
  }
}

.cate-list {
  .item {
    background: rgba(152, 180, 185, 0.6);
    padding: 20rpx;
    height: 25vw;
    width: 40vw; 
    border-radius: 10rpx;
  }
}

.search, .notice{
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  border: 1rpx solid white;
  background-color: rgba(255,255,255,0.9);
  box-shadow:0px 10px 20px -10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .dot{
    background-color: red;
    position: absolute;
    width: 16rpx;
    height: 16rpx;
    border-radius: 50%;
    top: 2.5vw;
    right: 2vw;
  }
}