@import "/colorui/animation.wxss";

.section {
  .desc{
    min-height: 50vh;
    align-items: center;
    justify-content: center;
  }
  .section_header{
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    
  }
  .line{
    border-top: 1rpx solid #e2e2e2;
  }
  .tips_section{
    min-height: 36rpx;
    display: block;
    font-size: 24rpx;
  }
}

/* 密码掩码模拟 */
.input_row {
  width: 690rpx;
  margin: 0 auto;
  height: 98rpx;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  border: 1rpx solid #e2e2e2;
  border-radius: 20rpx;
  margin-bottom: 20vh;
  .pwd_item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1rpx solid #e2e2e2;
    &:nth-last-of-type(1) {
      border-right: 0;
    }
    .text {
      width: 30rpx;
      height: 30rpx;
      border-radius: 30rpx;
      background-color: #555;

      &.adv{
        margin: 0 5rpx;
      }
    }
  }

}

.forget_pwd {
  float: right;
  margin: 30rpx;
  width: 100rpx;
  text-align: right;
  font-size: 24rpx;
  color: #ff7800;
}

/* 文本输入框位置: 设置到左边隐藏 */
.input_control {
  position: relative;
  left: -400rpx;
  bottom: 0;
  width: 100rpx;
  height: 100rpx;
}