.head{
  min-height: 50rpx;
} 


.tag-list{
  margin: 2rpx 0;
  .tag-list-content{
    width: 80vw; 
    overflow-x: scroll;
  }
}

.image-list{
  display: flex;
  flex-direction: column;
  margin: 20rpx 0;
  .image-item {
    width: 700rpx;
    height: 440rpx;
    margin-bottom: 10rpx;
    border: 1rpx solid skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .card{
      width: 687rpx;
      height: 432rpx;
    }
  }
}

.extra-data-list{
  border: 1px solid rgb(167, 236, 236);
  .item{
    .title{
      width: 23vw;
    }
  }
}

.action-dialog{
  border-top-left-radius: 40rpx !important;
  border-top-right-radius: 40rpx !important;
  .item{
    padding: 26rpx
  }
}