.head{
  min-height: 50rpx;
} 


.tag-list{
  min-height: 50rpx;
  .tag-list-content{
    width: 80vw; 
    overflow-x: scroll;
  }
}

.image-list{
  display: flex;
  flex-direction: column;
  padding: 20rpx 0;
  .image-item {
    width: 700rpx;
    height: 440rpx;
    margin-bottom: 10rpx;
    border: 1rpx solid skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .card{
      width: 687rpx;
      height: 432rpx;
    }
    .check-filter{
      filter: blur(10px) opacity(0.6) brightness(0.5);
    }
    .checking-layer{
      position: absolute;
      justify-content: center;
      align-items: center;
      display: flex;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      .checking{
        border: 1px solid rgb(177, 177, 146);
      }
      .not-pass{
        border: 1px solid orangered;
      }
    }
  }
}

.extra-data-list{
  border: 1px solid rgb(167, 236, 236);
  .item{
    .title{
      width: 23vw;
    }
  }
}