.cu-list {
  &>.cu-item {
    background-color: unset !important;
    .content{
      display: flex;
      .icon{
        opacity: 0.6;
        font-size: 40rpx;
        color: rgb(41, 35, 35);
      }
      .text{
        color: rgb(82, 72, 72);
        font-weight: 300;
      }
    }
  }
}

.user-avatar{
  padding: 4rpx;
  background-color: #fef3e2;
  align-self: center;
}

.nickname {
  white-space: nowrap;
  max-width: 40vw;
  overflow-x: hidden;
  text-overflow: ellipsis;
}