.page{
  display: flex;
  flex-direction: column;
  // min-height: 100vh;
}

.pic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20rpx 0;
}
.pic-img {
  border: 1px solid skyblue;
  padding: 2rpx
}

.action-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.add-card-pic{
  align-items: center;
}