.default {
  .image {
    height: 120rpx;
    width: 194rpx;
    padding: 1rpx;
  }
  .tags {
    white-space: nowrap;
    overflow-x: scroll;
    max-width: 50vw;
  }
}

.bank-card {
  .cu-card>.cu-item{
    margin: 20rpx;
    background-color: unset;
  }
  .card {
    width: 687rpx;
    height: 432rpx;
    border-radius: 10rpx;
  }
  .info {
    background-color: gainsboro;
  }
}