.default {
  .image {
    height: 80rpx;
    width: 130rpx;
    padding: 1px;
  }
}

.bank-card {
  .cu-card>.cu-item{
    margin: 20rpx;
    background-color: unset;
  }
  .card {
    width: 687rpx;
    height: 432rpx;
    border-radius: 10rpx;
  }
  .info {
    background-color: gainsboro;
  }
}